*{font-size: 1rem;font-family:"苹方";}
.clearfix{clear: both;}
a{display: block;text-decoration: none;}
h1,h2,h3{font-weight: normal;}
img{display: block;width: 100%;}
.b{width: 100%;background-color: #fff;}
.header{padding: 0 0.9375rem;margin: 0 auto;box-sizing: border-box;border-bottom: 0.0625rem solid #eaeaea;padding-top: 1rem;width: 100%;}
.search{width: 5.1%;float: left;}
.search img{width: 100%;padding-top: 1rem;box-sizing: border-box;}
.header_text{text-align: center;width: 89.8%;float: left;line-height: 3.125rem;}
.header_text h1{font-size: 1.125rem;color: #2a2b35;font-family:"苹方";font-weight: bold;}

.phone{width: 100%;}

.phone_code{padding: 0 0.9375rem;box-sizing: border-box;border-bottom: 0.0625rem solid #eaeaea;line-height: 3.125rem;}
.phone_code h1{width: 28%;float: left;font-size: 0.9375rem;color: #333333;font-weight: bold;}
.phone_input{width: 47%;float: left;}
.phone_input input{outline: none;line-height: 3.125rem;width: 100%;}

.code{padding: 0 0.9375rem;box-sizing: border-box;border-bottom: 0.0625rem solid #eaeaea;line-height: 3.125rem;}
.code h1{width: 28%;float: left;font-size: 0.9375rem;color: #333333;font-weight: bold;}
.input{width: 47%;float: left;}
.input input{outline: none;line-height: 3.125rem;width: 100%;}
.Obtain{width: 25%;float: right;line-height: 3.125rem;}
.Obtain input{width: 100%;font-size: 0.8125rem;color: #fb5134;border: 0.0625rem solid #fb5134;line-height: 1.6875rem;box-sizing: border-box;outline: none;}

.new_password{padding: 0 0.9375rem;box-sizing: border-box;border-bottom: 0.0625rem solid #eaeaea;line-height: 3.125rem;}
.new_password h1{width: 28%;float: left;font-size: 0.9375rem;color: #333333;font-weight: bold;}
.new_password_input{width: 47%;float: left;}
.new_password_input input{outline: none;line-height: 3.125rem;width: 100%;}

.true{padding: 0 0.9375rem;box-sizing: border-box;border-bottom: 0.0625rem solid #eaeaea;line-height: 3.125rem;}
.true h1{width: 28%;float: left;font-size: 0.9375rem;color: #333333;font-weight: bold;}
.true_input{width: 47%;float: left;}
.true_input input{outline: none;line-height: 3.125rem;width: 100%;}

.button{width: 92%;margin: 0 auto;margin-top: 3.75rem;line-height: 3rem;background-color: #fb5134;text-align: center;position: relative;border-radius: 3rem;}
.button button{color: #fff;font-size: 1.125rem;width: 100%;outline: none;}
