*{font-size: 1rem;font-family:"苹方";}
.clearfix{clear: both;}
a{display: block;text-decoration: none;}
body,html{background-color: #f3f3f3;}
h1,h2,h3{font-weight: normal;}
img{display: block;width: 100%;}
.b{width: 100%;background-color: #fff;}
.header{padding: 0 0.9375rem;margin: 0 auto;box-sizing: border-box;border-bottom: 0.0625rem solid #eaeaea;margin-bottom: 0.625rem;padding-top: 1rem;width: 100%;}
.search{width: 5.1%;float: left;}
.search img{width: 100%;padding-top: 1rem;box-sizing: border-box;}
.header_text{text-align: center;width: 89.8%;float: left;line-height: 3.125rem;}
.header_text h1{font-size: 1.125rem;color: #2a2b35;font-family:"苹方";font-weight: bold;}

.withdraw{padding: 0 0.9375rem;background-color: #fff;width: 100%;box-sizing: border-box;height: 4rem;border-bottom:0.0625rem solid #eaeaea; box-sizing: border-box;}
.withdraw_text{width: 60%;float: left;padding-top: 0.8rem;box-sizing: border-box;}
.withdraw_text h1{font-size:0.9375rem;color: #333333;margin-bottom: 0.3rem;font-weight: bold;}
.withdraw_text h2{font-size: 0.75rem;color: #767676;}
.withdraw h3{width: 40%;float: right;text-align: right;line-height: 4rem;font-size: 1.0625rem;color: #333;font-weight: bold;}

.recharge{padding: 0 0.9375rem;background-color: #fff;width: 100%;box-sizing: border-box;height: 4rem;border-bottom:0.0625rem solid #eaeaea;box-sizing: border-box;}
.recharge_text{width: 60%;float: left;padding-top: 0.8rem;;box-sizing: border-box;}
.recharge_text h1{font-size:0.9375rem;color: #333333;margin-bottom: 0.3rem;font-weight: bold;}
.recharge_text h2{font-size: 0.75rem;color: #767676;}
.recharge h3{width: 40%;float: right;text-align: right;line-height: 4rem;font-size: 1.0625rem;color: #fb5134;font-weight: bold;}
