* {
    font-size: 1rem;
    font-family: "苹方";
}

.clearfix {
    clear: both;
}

body,
html {
    background-color: #f3f3f3;
}

a {
    display: block;
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-weight: normal;
}

img {
    display: block;
    width: 100%;
}

p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

button {
    outline: none;
}


/*.b{width: 100%;background-color: #fff;}
.header{padding: 0 0.9375rem;margin: 0 auto;box-sizing: border-box;padding-top: 1rem;width: 100%}
.search{width: 5.1%;float: left;}
.search img{width: 100%;padding-top: 1rem;box-sizing: border-box;}
.header_text{text-align: center;width: 89.8%;float: left;line-height: 3.125rem;}
.header_text h1{font-size: 1.125rem;color: #2a2b35;font-family:"苹方";font-weight: bold;}*/

.award {
    width: 100%;
}

.award_title {
    background-color: #fff;
    width: 100%;
    border-bottom: 0.0625rem solid #eaeaea;
    margin-bottom: 0.625rem;
}

.list {
    width: 100%;
    color: #808080;
}

.list li {
    width: calc(100% / 3);
    float: left;
    text-align: center;
    line-height: 2.8125rem;
    font-size: 0.9375rem;
}

.click {
    color: #fb5134;
    border-bottom: 0.125rem solid #fb5134;
}

.release_task {
    width: 100%;
    background-color: #fff;
    margin-bottom: 0.625rem;
}

.award_row {
    padding: 0.9375rem 0.9375rem;
    box-sizing: border-box;
    border-bottom: 0.0625rem solid #eaeaea;
    border-top: 0.0625rem solid #eaeaea;
}

.head_pic {
    width: 3.375rem;
    height: 3.375rem;
    border-radius: 5rem;
    float: left;
    overflow: hidden;
}

.head_pic>img {
    width: 100%;
    height: 100%;
}

.award_text {
    width: 55%;
    padding-left: 0.8125rem;
    box-sizing: border-box;
    float: left;
}

.award_text .task_name {
    font-size: 1rem;
    color: #333333;
    font-weight: bold;
    margin-bottom: 0.4rem;
}

.award_text .task_1 {
    font-size: 0.625rem;
    color: #808080;
    float: left;
    margin-right: 0.6rem;
    padding: 0rem 0.6rem;
    box-sizing: border-box;
    background-color: #f5f5f5;
    border-radius: 5rem;
    line-height: 1rem;
}

.award_text .task_2 {
    font-size: 0.625rem;
    color: #808080;
    float: left;
    padding: 0.1rem 0.6rem;
    box-sizing: border-box;
    background-color: #f5f5f5;
    border-radius: 5rem;
    line-height: 1rem;
}

.award_text .yiyou_num {
    font-size: 0.75rem;
    color: #808080;
    width: 100%;
    margin-top: 0.5rem;
}

.award_row .shang {
    font-size: 0.875rem;
    color: #fb5134;
    width: 26%;
    float: right;
    font-weight: bold;
    text-align: right;
}

.task_box {
    width: 100%;
    border-bottom: 0.0625rem solid #eaeaea;
}

.shuaxin {
    /*width: calc(100% /4);*/
    width: 25%;
    margin: 0.8rem 0;
    box-sizing: border-box;
    float: left;
}

.shuaxin>img {
    width: auto;
    height: 1.0625rem;
    margin-top: 0.1rem;
    margin-right: 0.4rem;
}

.shuaxin span {
    font-size: 0.875rem;
    color: #808080;
}

.shanchu {
    /*width: calc(100% /4);*/
    width: 25%;
    margin: 0.8rem 0;
    box-sizing: border-box;
    float: left;
}

.shanchu>img {
    width: auto;
    height: 1.0625rem;
    margin-top: 0.1rem;
    margin-right: 0.4rem;
}

.shanchu span {
    font-size: 0.875rem;
    color: #808080;
}

.jishu>img {
    width: auto;
    height: 1.0625rem;
    margin-top: 0.1rem;
    margin-right: 0.4rem;
}

.toutiao {
    /*width: calc(100% /4);*/
    width: 25%;
    margin: 0.8rem 0;
    box-sizing: border-box;
    float: left;
}

.toutiao>img {
    width: auto;
    height: 1.0625rem;
    margin-top: 0.1rem;
    margin-right: 0.4rem;
}

.toutiao span {
    font-size: 0.875rem;
    color: #808080;
}

.zt {
    /*width: calc(100% /4);*/
    width: 25%;
    margin: 0.8rem 0;
    box-sizing: border-box;
    float: left;
}

.tx {
    width: 100%;
    box-sizing: border-box;
}

.tx>img {
    width: auto;
    height: 1.0625rem;
    margin-top: 0.1rem;
    margin-right: 0.4rem;
    float: left;
}

.tx span {
    font-size: 0.875rem;
    color: #808080;
    float: left;
}

.nodis {
    display: none;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.f-c {
    justify-content: center;
}

.f-b {
    justify-content: space-between;
}

.f-a {
    justify-content: space-around;
}