.rads {
    color: red;
}

* {
    font-size: 1rem;
    font-family: "苹方";
}

.clearfix {
    clear: both;
}

a {
    display: block;
    text-decoration: none;
}

body,
html {
    background-color: #f3f3f3;
}

h1,
h2,
h3 {
    font-weight: normal;
}

img {
    display: block;
    width: 100%;
}

p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.b {
    width: 100%;
    background-color: #fff;
    margin-bottom: 0.625rem;
    /* margin-top: 2.550rem*/
}

.header {
    padding: 0 0.9375rem;
    margin: 0 auto;
    box-sizing: border-box;
    border-bottom: 0.0625rem solid #eaeaea;
    background-color: #fff;
    padding-top: 1rem;
    width: 100%;
}

.search {
    width: 5.1%;
    float: left;
}

.search img {
    width: 100%;
    padding-top: 1rem;
    box-sizing: border-box;
}

.header_text {
    text-align: center;
    width: 78.5%;
    float: left;
    line-height: 3.125rem;
}

.header_text h1 {
    font-size: 1.125rem;
    color: #2a2b35;
    font-family: "苹方";
    font-weight: bold;
}

.question {
    width: 6.4%;
    float: right;
    margin-top: 1rem;
}

.witre {
    background-color: white;
    margin-top: 1rem;
}

.tanchu-back {
    /*width: 100%;*/
    /*height: 100rem;*/
    /*background-color:red;*/
}

.dian-confirm {
    width: 95%;
    position: absolute;
    ;
    bottom: 0;
    margin-left: 5%;
}

.dian-heands {
    width: 95%;
    height: 9rem;
    line-height: 9rem;
    border-radius: 0.5rem;
    background-color: #fff;
    /*background-color: red;*/
    opacity: 0.9;
}

.dian-button {
    width: 95%;
    height: 4rem;
    display: block;
    font-size: 1.5rem;
    line-height: 5rem;
    text-align: center;
    color: #0099ff;
}

.dian-buttons {
    width: 95%;
    height: 4rem;
    display: block;
    font-size: 1.5rem;
    line-height: 3rem;
    text-align: center;
    color: #0099ff;
}

.dian_xiahuax {
    border: 0.1px solid #bbb;
    width: 100%;
}

.dian-but {
    width: 95%;
    height: 4rem;
    line-height: 4rem;
    border-radius: 0.5rem;
    background-color: #fff;
    opacity: 0.9;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.dian-but-qux {
    width: 100%;
    height: 4rem;
    display: block;
    font-size: 1.5rem;
    line-height: 4rem;
    /*text-align: center;*/
    color: #0099ff;
}


/*.confirm{width: 75.2%;background-color:#1874CD ;border-radius: 0.5rem;text-align: center;padding: 1.625rem 0;position: fixed;left:12.4%;top: 30%;z-index: 101}*/

.confirm {
    width: 100%;
    height: 100%;
    background-color: #242424;
    text-align: center;
    position: fixed;
    z-index: 101;
    left: 0;
    top: 0rem;
    opacity: 0.9
}

.form {
    line-height: 3rem;
    width: 100%;
    border-top: 0.0625rem solid #eaeaea;
    position: fixed;
    bottom: 0;
    background-color: white;
}

.form h1 {
    margin-left: 0.9375rem;
    font-size: 0.9375rem;
    color: #333333;
    width: 30%;
    float: left;
}

.form span {
    font-size: 1rem;
    color: #fb5134;
}

.button1 {
    width: 36.6%;
    line-height: 4rem;
    background-color: #fb5134;
    text-align: center;
    float: right;
}

.button1 button {
    color: #fff;
    font-size: 1.125rem;
    outline: none;
}

.renwu_de {
    width: 100%;
    font-size: 0.875rem;
    font-weight: normal;
    color: #808080;
    box-sizing: border-box;
    margin-bottom: 3.8rem;
}

.renwu_de h4 {
    font-weight: normal;
    color: black;
    margin: 0 auto 0.8rem;
}

.renwu_de>div {
    padding: 3%;
    box-sizing: border-box;
    background-color: white;
    margin-top: 1rem;
    border-bottom: 1px solid#dddddd;
    border-top: 1px solid #dddddd;
}

.renwu_de>div ul {
    display: -webkit-flex;
    /* Safari */
    -webkit-flex-wrap: wrap;
    /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-sizing: border-box;
}

.renwu_de>div ul li {
    margin: 0 0.6rem 0.8rem 0;
    text-align: center;
    border: 1px solid #dddddd;
    background-color: #dddddd;
    font-size: 0.8rem;
    padding: 0.2rem 0;
    border-radius: 0.2rem;
}

.renwu_de>div ul li.active {
    border: 1px solid #fb5134;
    background-color: #fdc4ba;
    color: #fb5134;
}

.renwu_type ul {
    justify-content: space-between!important;
}

.renwu_type li {
    width: 25%;
    margin-right: 0;
}

.shebei_type li {
    width: calc(100% / 6);
}

.renwu_de .tips {
    font-size: 0.65rem;
    color: red;
    text-align: right;
    width: 100%;
    display: block;
    margin-bottom: 0.4rem;
}

.renwu_de input[type=text] {
    border: none;
    outline: none;
    margin-top: 0.3rem;
    font-size: 0.8rem;
    width: 100%;
}

.renwu_de input[type=radio] {
    /*border: none;*/
    outline: none;
    margin: 0.3rem 0.2rem 0 0.5rem;
    font-size: 0.8rem;
    width: 0.7rem;
    height: 0.7rem;
    border: 1px solid #dddddd;
    background-color: #dddddd;
    -webkit-border-radius: 0.6rem;
    border-radius: 0.6rem;
    cursor: default;
    -webkit-appearance: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-transition: background-color ease 0.1s;
    transition: background-color ease 0.1s;
}

.renwu_de input[type=radio]:first-child {
    margin-left: 0;
}

.renwu_de input[type=radio]:checked {
    border: 1px solid #fb5134;
    background-color: #fdc4ba;
    background-clip: padding-box;
}

.renwu_de input[type=number] {
    border: none;
    outline: none;
    margin-top: 0.3rem;
    font-size: 0.8rem;
    width: 20%;
}

.renwu_de input[type=url] {
    border: none;
    outline: none;
    margin-top: 0.3rem;
    font-size: 0.8rem;
    width: 100%;
}

.renwu_de select {
    width: 40%;
    padding-top: 0.2rem;
    font-size: 0.8rem;
    border: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
}

.renwu_de_li>div {
    display: -webkit-flex;
    /* Safari */
    -webkit-flex-wrap: wrap;
    /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-sizing: border-box;
    border-bottom: 1px solid #f3f3f3;
    margin: 0 auto 0.8rem;
    padding-top: 0.8rem;
    vertical-align: text-bottom;
}

.renwu_de_li>div:last-child {
    border-bottom: none;
}

.renwu_de_li>div h4 {
    width: 25%;
    margin-bottom: 0.3rem;
}

.renwu_de_li>div p {
    width: 75%;
    margin-bottom: 0.3rem;
    font-size: 0.8rem;
    vertical-align: middle;
    /*overflow: hidden;*/
}

.renwu_de_li>div p label {
    font-size: 0.8rem;
    color: #000;
}

.renwu_de_li .end_tim select {
    width: 40%;
}

.renwu_de_li .end_tim input {
    width: 30%;
}

.renwu_de_li>div p.all_money {
    display: -webkit-flex;
    /* Safari */
    -webkit-flex-wrap: wrap;
    /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    vertical-align: text-bottom;
    color: #000;
}

.renwu_de_li>div p.all_money span {
    font-size: 0.8rem;
}

.renwu_de_li>div p.all_money a {
    margin-top: 0.3rem;
    font-size: 0.75rem;
    color: red;
}

.renwu_bz {
    position: relative;
}

.renwu_bz .formtop {
    border-bottom: 1px solid #f3f3f3;
}

.renwu_bz .formtop p {
    text-align: center;
}

.renwu_bz .formtop a {
    background-color: #ff5722;
    padding: 0.3rem 0.8rem;
    color: white;
    border-radius: .3rem;
    display: inline-block;
    width: 80%;
    /*margin: 0 auto;*/
    margin-top: 0;
    font-size: 0.8rem;
}

.renwu_bz .formtopli {
    display: -webkit-flex;
    /* Safari */
    -webkit-flex-wrap: wrap;
    /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.3rem 0.8rem;
    width: 63.5%;
    position: absolute;
    /*left: 26.5%;
    top: 29%;*/
    margin-left: 23.5%;
    margin-top: -4.5%;
    background-color: white;
    box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem #f3f3f3;
    border: 1px solid #f3f3f3;
    border-top: none;
}

.renwu_bz .formtopli li {
    width: 45%;
    text-align: center;
    line-height: 2;
    background: none;
    border: none;
}

.renwu_bz>div {
    border: none;
    height: auto;
}

.renwu_bz>div p {
    display: -webkit-flex;
    /* Safari */
    -webkit-flex-wrap: wrap;
    /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    vertical-align: text-bottom;
}

.renwu_bz>div p input {
    width: 75%!important;
}

.renwu_bz>div p a {
    width: 20%;
    font-size: 0.75rem;
    color: red;
    margin-top: 0.3rem;
}

.textarea_con {
    width: 100%;
    margin-bottom: 0.8rem;
}

.textarea_con .textarea_title,
.textarea_con .textarea_body {
    display: -webkit-flex;
    /* Safari */
    -webkit-flex-wrap: wrap;
    /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    vertical-align: text-bottom;
    margin-bottom: 0.3rem;
}

.textarea_con .textarea_title h4 {
    width: 30%;
}

.textarea_con .textarea_title a {
    width: 20%;
    font-size: 0.75rem;
    color: red;
    margin: 0.3rem 7.5% 0 42.5%;
    text-align: right;
}

.textarea_con .textarea_body img {
    width: 7rem;
    height: 7rem;
}

.textarea_con .textarea_body textarea {
    width: 60%;
    height: 6.3rem;
    padding: 0.3rem;
    font-size: 0.8rem;
    resize: none;
    border: 1px solid #ededed;
    outline: none;
    line-height: 1.2rem;
}

.read_li {
    background-color: #f3f3f3!important;
    color: red;
    border: none!important;
}

.read_li h4 {
    margin-top: 0.8rem;
    color: red;
    font-size: 0.875rem;
}

.read_li p {
    display: block;
    text-indent: 2rem;
    line-height: 1.4rem;
    font-size: 0.8rem;
    overflow: auto;
    white-space: normal;
    text-overflow: clip;
}

.read_li p.read_but {
    text-indent: 0rem;
    font-size: 0.875rem;
}

.read_li p.read_but label {
    font-size: 0.875rem;
}

#footer {
    position: fixed;
    bottom: 0;
    border-top: 1px solid #f3f3f3;
    background-color: white;
    width: 100%;
}

#footer ul {
    display: -webkit-flex;
    /* Safari */
    -webkit-flex-wrap: wrap;
    /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    vertical-align: text-bottom;
}

#footer ul li {
    font-size: 0.875rem;
    text-align: center;
    line-height: 3rem;
    height: 3rem;
    color: #808080;
}

#footer ul li:first-child {
    width: 30%;
}

#footer ul li:last-child {
    width: 70%;
    color: white;
    background-color: #fb5134;
}