*{font-size: 1rem;font-family:"苹方";}
.clearfix{clear: both;}
body,html{background-color: #f3f3f3;}
a{display: block;text-decoration: none;}
h1,h2,h3{font-weight: normal;}
img{display: block;width: 100%;}
button{outline: none;}
.b{width: 100%;background-color: #fff;}
.header{padding: 0 0.9375rem;margin: 0 auto;box-sizing: border-box;border-bottom: 0.0625rem solid #eaeaea;padding-top: 1rem;width: 100%}
.search{width: 5.1%;float: left;}
.search img{width: 100%;padding-top: 1rem;box-sizing: border-box;}
.header_text{text-align: center;width: 89.8%;float: left;line-height: 3.125rem;}
.header_text h1{font-size: 1.125rem;color: #2a2b35;font-family:"苹方";font-weight: bold;}

.banner{width: 100%;position: relative;}
.banner_bg{width: 100%;}
.banner_content{width: 92%;margin: 0 auto;padding-top: 1.875rem;box-sizing: border-box;position: absolute;top: 0;left:4%;}

.name_pic{width: 3.75rem;height: 3.75rem;border-radius: 5rem;float: left;overflow: hidden;float: left;margin-right: 0.625rem;}
.name_pic>img{width: 100%;height: 100%;}

.name{width: 70%;float: left;margin-top: 0.4rem;}
.name h1{font-size:0.9375rem;color: #fff;margin-bottom: 0.4rem;}
.name h2{font-size: 0.75rem;color: #fff;}
.card{background-color: #fff;border-radius: 0.4rem;margin-top: 1.875rem;padding: 1.5rem 0;margin-bottom: 0.625rem;}
.card_text{width: 50%;padding: 0 1.5rem;text-align: center;float: left;box-sizing: border-box;}
.card_text:nth-child(1){border-right: 0.0625rem solid #eeeeee;}
.card_text h1{font-size: 1.125rem;color: #fb5134;margin-bottom: 0.625rem;}
.card_text h2{font-size: 0.875rem;color: #808080;}

.content{background-color: #fff;border-radius: 0.4rem;width: 100%;padding: 1rem;box-sizing: border-box;}
.content_box{width:50%;padding: 1rem;text-align: center;float: left;box-sizing: border-box;}

.content_box:nth-child(1){border-right: 0.0625rem solid #eeeeee;border-bottom: 0.0625rem solid #eeeeee;box-sizing: border-box;padding-bottom: 1rem}
.content_box:nth-child(2){border-bottom: 0.0625rem solid #eeeeee;box-sizing: border-box;padding-left: 1rem;padding-bottom: 1rem}
.content_box:nth-child(4){border-right: 0.0625rem solid #eeeeee;box-sizing: border-box;padding-top: 1rem}
.content_box:nth-child(5){box-sizing: border-box;padding-left: 1rem;padding-top: 1rem}

.box_pic{width: 25.8%;float: left;margin-top: 0.3rem;}
.content_text{width: 58%;margin-left:0.75rem; float: left;}
.content_text h1{font-size: 0.875rem;margin-bottom: 0.4rem;}
.content_text h2{font-size: 0.6875rem;;color: #808080;}
